@import "menu/header.css";
@import "menu/hero.css";
@import "menu/footer.css";


.container {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

.site-container {
    width: 100%;
    height: 100%;
    background: #252628;
    overflow-x: hidden;
}


