.section-hero {
    width: 100%;
    min-height: 100vh;
    z-index: -5;
    background: url("../../images/menu/background.png") no-repeat center #252628;
    background-size: cover;
}

.hero-wrapper {
    height: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
    padding-left: 5em;
}

.hero-container {
    width: 90% !important;
    padding: 0 5em;
    justify-content: center;
    align-items: center;
}

.hero-slider {
    width: 100%;
    height: 90% !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 170px 0;
}

.hero-slider-item {
    width: 240px;
    height: 370px;
    margin: 20px 10px;
    padding: 40px 30px;
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background: rgba(27, 28, 28, 0.8);
    border-radius: 10px;
    transition: 0.5s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}

/*Отключаем hover на мобильных устройствах*/
.no-touch .hero-slider  a:hover {
    background: #fff !important;
    color: #000 !important;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: 0.5s;
}

.slider-item-image {
    font-size: 100px;
    margin-bottom: 30px;
}

.slider-item-title {
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
}

.slider-item-content {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
}


/*Адаптация сайта под разные размеры экрана*/


@media (min-width: 667px) {
    .hero-wrapper {
        padding: 0;
    }


    .hero-slider {
        padding: 0;
    }
}

@media (max-width: 1097px) {
    .hero-wrapper {
        padding: 0;
    }


    .hero-slider {
        padding: 0;
    }
}



/* one column */
@media (max-width: 767px) {
    .hero-container {
        padding: 0;
    }
    header {
        display: none;
    }

    .section-hero {
        height: 100%;
    }

}







